@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;500;600;700;800&display=swap");

*{
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  font-family: "Poppins", sans-serif;
}

.navbar {
  margin-top: 20px;
}

.logo {
  text-align: center;
}

.intro{
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(32, 32, 32);
  transition: 1s;
  
}

.logo-header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.lg{
  position: relative;
  display: inline-block;
  bottom: -20px;

}

.lg .active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.lg .fade{
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: .4em;
  transition: 0.4s ease;
  
}

#navbar li a img{
  vertical-align: bottom;
  padding: 4px;
  width: 25px;
}

#navbar li a:hover{
  background-color: rgb(236, 236, 236);
  border-radius: 25px;
}

/* #navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088;
  position: absolute;
  bottom: -4px;
  left: 20px;
} */

#navbar.active{
  right: 0px;
}

.content{
  line-height: 100vh;
}

.team-name{
  color: rgb(238, 236, 236);
  position: absolute;
  top: 70%;
  left: 32%;
}


.team-name h4{
  display: inline-block;
  text-align: center;
  margin: 10px;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  background-color: #FBF1EC;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo{
  width: 40%;
  margin-bottom: 30px;
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}

footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow{
  margin-top: 20px;

}

footer .follow i{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img{
  border: 1px solid #088;
  border-radius: 6px;
}

footer .install img{
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
  color: #088;
}


footer .copyright{
  width: 100%;
  text-align: center;
}

