body {
    background-color: white;
    color: black;
    font-family: "Poppins", sans-serif;
    letter-spacing: auto;
}
#heading {
    font-size: 250%;
    font-weight: bold;
}
#firstLetter {
    font-size: 180%;
    font-weight: bold;
}
.topics {
    font-size: 180%;
}
.subtopics {
    font-weight: bold;
}

figure {
    margin: 0px;
}
figcaption {
    font-style: italic;
    font-size: 80%;
}
li {
    margin: 5px;
}

.blog-content{
    margin: 60px;
}

.main-img img{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}
