body {
    background-color: white;
    color: black;
    text-align: justify;
    font-family: "League Spartan", sans-serif;
    font-family: "Poppins", sans-serif;
}
#heading {
    text-align: center;
    font-size: 250%;
    font-weight: bold;
}
#firstLetter {
    font-size: 180%;
    font-weight: bold;
}
.topics {
    font-size: 180%;
}
.subtopics {
    font-weight: bold;
}

figure {
    margin: 0px;
}
figcaption {
    font-style: italic;
    font-size: 80%;
}
li {
    margin: 5px;
}

.blog-content{
    margin: 60px;
}
